@use "../../_utils/_mixins" as *;
@use "../../_utils/_vars" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 20px 24px;
}

.link {
  color: $cGray1000;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color $transitionTime ease;

  &:hover {
    color: $cBlack;
    text-decoration: underline;
  }

  &:active {
    transform: translateY(4px);
  }
}